.footer
  .container.clear
    .footer-item.col-4
      ul.clear
        li
          a(href="#") Demo
        li
          a(href="#") Features
        li
          a(href="#") About
        li
          a(href="#") Contact
    .footer-item.col-4
      ul.clear
        li
          a(href="#") Github
    .footer-item.col-4
      img(src="/images/logo-xs.png", alt="")
  p.footer-copyright All rights reserved. copy©myself.