.header
  .container.clear
    .web-logo.col-2
      img(src="/images/logo.png", alt="")
    nav.nav-right.col-10
      ul.clear
        li
          a(href="#") Contact
        li
          a(href="#") About
        li
          a(href="#") Features
        li
          a(href="#") Demo