.header{
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
}
.header .web-logo{
  float: left;
}
nav.nav-right{
  float: left;
  height: 60px;
}
nav.nav-right ul li{
  float: right;
  list-style: none;
  padding: 0 36px;
  height: 60px;
  line-height: 60px;
}
nav.nav-right ul li a{
  display: block;
  width: 100%;
  height: 100%;
}

section{
  width: 100%;
  height: 1200px;
  background: url('/images/index_bg.jpg') no-repeat center center;
  background-size: cover;
}



.footer{
  width: 100%;
  padding-top: 80px;
  padding-bottom: 20px;
  background-color: #111111;
  opacity: 0.9;
}
.footer .footer-item{
  float: left;
}
.footer .footer-copyright{
  margin-top: 60px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}