/* CSS Rest */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
span,
p,
blockquote,
th,
td {margin: 0;
  padding: 0;}
input,
select {-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;}
input,
select,
textarea,
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #999;}
input:-moz-placeholder, textarea:-moz-placeholder {color: #999;}
input::-moz-placeholder, textarea::-moz-placeholder {color: #999;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #999;}
table {border-collapse: collapse;
  border-spacing: 0;}
fieldset,
img {border: 0;}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {font-style: normal;
  font-weight: normal;}
ol,
ul {list-style: none;}
caption,
th {text-align: left;}
h1,
h2,
h3,
h4,
h5,
h6 {font-size: 100%;
  font-weight: normal;}
q:before,
q:after {
  content: '';
}
abbr,
acronym {border: 0;}

input:focus, textarea:focus, keygen:focus, select:focus {
  outline: none;
}
:focus {
  outline: none;
}

/* font-style */
.fb {font-weight: bold;}
.fn {font-weight: normal;}
.fi {font-style: italic;}

/* line-height */
.lh100 {line-height: 1;}
.lh150 {line-height: 1.5;}
.lh200 {line-height: 2;}

/* text-decoration */
.line-through {text-decoration: line-through;}
.line-unl {text-decoration: underline;}
.line-none {text-decoration: none;}
.tdn,
.tdn:hover,
.tdn a:hover,
a.tdl:hover {text-decoration: none;}

/* text-style */
.text-nowrap {white-space: nowrap;}
.text-pre {white-space: pre;}
.text-brake {word-wrap: break-word;}

/* text-align */
.tl {text-align: left;}
.tc {text-align: center;}
.tr {text-align: right;}
.t2 {text-indent: 2em;}

/* opacity */
.opacity0{opacity: 0;}
.opacity0{opacity: .5;}

/* box-sizing */
.boxb {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.boxc {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* 单行文字溢出虚点显 示*/
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

/* vertical */
.vt {vertical-align: top;}
.vm {vertical-align: middle;}
.vb {vertical-align: bottom;}

/* float */
.fl {float: left;}
.fr {float: right;}

/* clear */
.cb {clear: both;}
/* 清除浮动 */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* 居中 */
.auto {margin: auto;}
.bc {
  margin-left: auto;
  margin-right: auto;
}

/* 自适应布局 */
/* flexbox */
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.ai-center {
  -webkit-align-items:center;
  align-items:center;
}
.jc-center {
  -webkit-justify-content: center;
  justify-content: center;
}
.jc-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.jc-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.flex-basis {
  -webkit-flex-basis:100%;
  flex-basis:100%;
}

/* table-cell两栏自适应 */
.cell {
  display: table-cell;
  *display: inline-block;
  width: 100%;
  *zoom: 1;
}



/*0.5px细线*/
.halfBBorder{
  position: relative;
}
.halfBBorder:after{
  content: "";
  display: block;
  position: absolute;
  left: -50%;
  width: 200%;
  height: 1px;
  background: #ccc;
  -webkit-transform:scale(0.5);
  transform:scale(0.5);
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0 auto;
}
a:link {
  text-decoration: none;
  color: #000;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a, a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: inherit;
}

.custom-scrollbar::-webkit-scrollbar {
  display: block;
  width: 5px;
  background: #FAFAFA;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #BDBDBD;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #E0E0E0;
}

.reset-btn {
  border: none;
  outline: none;
  background: inherit;
  appearance: none;
  margin: 0;
  padding: 0;
  color: inherit;
}